# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
bin/main
# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
.vscode/

# system log
*.log
ca_cert.pem
ca_key.pem
.gitignore
go_csr.pem
go_key.pem
go_cert.pem
verify_encryption.sh
test_encryption_manual.md
comp4334-progress-report-group18-1.txt
v1.1.0.txt

# User uploaded files and folders
assets/users/
.gitignore
