services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: comp4334
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: go_server
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge

