

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: comp4334
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: go_server
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app_network

  server: 
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_app 
    ports:
      - "8080:8080"
    environment:
      DB_ADDR: "postgres://comp4334:secret@db:5432/go_server?sslmode=disable"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - app_network
    volumes:
      - ./internal/certs:/app/internal/certs

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge

