body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3b4a5a;
    color: #fff;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    background-color: #2c3e50;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 0;
}
.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.sidebar a.active {
    background-color: #e74c3c;
}
.main-content {
    flex: 1;
    padding: 20px;
    flex-direction: column; 
    box-sizing: border-box;
    background-color: #34495e;
    display: flex;
    
    align-items: center;
}
.main-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}
.user-profile {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    width: auto;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(106, 106, 192);
}
.user-profile img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid #fff; 
    object-fit: cover;
}
.voteimg {
    
    
    width: 100%;
    height: 20em;
    max-height:100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}
.sidebar {
    margin-left: 0px; 
}

